[submodule "core"]
	path = core
	url = https://github.com/cocot3ro/GestionHotel-Core
[submodule "GestionHotel-ModuloAlmacen"]
	path = GestionHotel-ModuloAlmacen
	url = https://github.com/cocot3ro/GestionHotel-ModuloAlmacen
